@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: aquamarine;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main button {
  margin-top: 30px;
}

main #resultado {
  font-size: 30px;
}

